################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DeployMe/DeployMe_DBProject/.vs/DeployMe_DBProject
/DeployMe/DeployMe_DBProject/DeployMe_DBProject/obj/Debug
